# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.ipa

# Testing
/coverage
__tests__/coverage/

# Production
/build
/dist
web-build/

# Development environments
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv
*.pyc

# Machine Learning
*.pt
*.pth
*.h5
*.model
*.joblib
*.pkl

# Data and logs
*.log
logs/
data/
*.sqlite
*.db

# OS generated
.DS_Store
Thumbs.db
*.pem

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml
*.hprof
android/app/release/

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Temporary files
*.swp
*.swo
*~
*.tmp
*.bak

# Example and documentation
app-example/
docs/

# Build files
build/
dist/
out/

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
