# API URLs
NGROK_URL='your-ngrok-url'

# API Keys
GEMINI_API_KEY='your-gemini-api-key'

# Supabase Configuration
SUPABASE_URL='your-supabase-project-url'
SUPABASE_KEY='your-supabase-anon-key'

# Nutritionix API Configuration
NUTRITIONIX_APP_ID='your-nutritionix-app-id'
NUTRITIONIX_API_KEY='your-nutritionix-api-key'

# Ngrok Configuration
NGROK_AUTHTOKEN='your-ngrok-auth-token'